@font-face {
  font-family: "Cur";
  src: url("../public//Fonts/Writeline.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sml";
  src: url("../public/Fonts/TA-Fabricans-Thin.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}


