@font-face {
  font-family: "Cur";
  src: url("../public/Fonts/Callifornia\ Signature.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sml";
  src: url("../public/Fonts/Poppins-ExtraLight.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Heading";
  src: url("../public/Fonts/LouraChesiaDemoRegular.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "New";
  src: url("../public/Fonts/CormorantGaramond-Italic-VariableFont_wght.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jio";
  src: url("../public/Fonts/Sacreditty\ Demo.ttf") format("truetype"); /* Use correct path */
  font-weight: normal;
  font-style: normal;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Change Swiper Navigation Arrows */
.swiper-button-prev,
.swiper-button-next {
  color: white !important; /* Change arrow color */
}
/* Change Swiper Pagination Dots Color */
.swiper-pagination-bullet {
  background-color: black !important; /* Change to your preferred color */
  opacity: 0.5; /* Adjust transparency */
}

.swiper-pagination-bullet-active {
  background-color: white !important; /* Change active dot color */
  opacity: 1;
}


